*.sw*
*.iml
*.pyc
target/
.classpath
.project
.settings
.idea/*
!.idea/runConfigurations
.idea/runConfigurations/BACKFILL___Application_Start_PROD.xml
.idea/runConfigurations/BACKFILL___Application_Start_QA.xml
backdoor.yml
backdoor*.tar.gz
.venv
driftt-servers.pem
deploy_secrets.tar
.metadata/
workbench.xmi
*.whl
virtualenv.py
node_modules
customer.sql.gz
.DS_Store
CustomerService/local_prod_config.yaml
CustomerService/local_qa_config.yaml
CustomerService/src/main/java/com/driftt/customer/local/*
CustomerService/src/main/resources/local/*

.vscode/**
local/
